<section class="bg-img p-y-m">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <h1 class="c-dt-primary"><span class="title-dt">Page not found</span></h1>
    </div>
  </div>
</section>

<section class="p-b-l">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">

      <div class="read-format">

        <br>
        <br>
        <p>You've landed on a page that doesn't exist. Use one of the following links for navigation:</p>

        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/resources">Resources</a></li>
          <li><a routerLink="/glyco-databases">Glyco-databases</a></li>
          <li><a routerLink="/education">Education</a></li>
          <li><a routerLink="/members">Members</a></li>
        </ul>

      </div>

    </div>
  </div>
</section>
