<section class="bg-img p-y-m">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <h1 class="c-dt-primary"><span class="title-dt">{{newsInfo.title}}</span></h1>
    </div>
  </div>
</section>

<section class="p-b-l">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">

      <div class="read-format">

        <img *ngIf="newsInfo.featuredImage" alt="featured" [jasperoLibraryImage]="newsInfo.featuredImage">
        <p><small class="ff-secondary">{{newsInfo.createdAt | date:'mediumDate'}}</small></p>
        <p class="m-b-s read-format" *ngIf="newsInfo.description" [innerHtml]="newsInfo.description | jpSanitize:'html'"></p>
        <ng-container *ngIf="newsInfo.gallery">
          <div class="grid grid-small-gutter">
            <div class="col-6 col-s-10 col-xs-12" *ngFor="let image of newsInfo.gallery" (click)="openDialog(newsInfo.gallery.indexOf(image))">
              <div class="aspect-ratio gallery" data-ratio="4:3">
                <img [modifications]="imageModifications" [jasperoLibraryImage]="image">
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</section>

<ng-template #galleryDialog>
  <div class="modal">
    <button (click)="change('left')"><img src="assets/images/chevron-left.svg" alt="Previous image"></button>
    <img [jasperoLibraryImage]="selectedImage">
    <button (click)="change('right')"><img src="assets/images/chevron-right.svg" alt="Next image"></button>
  </div>
</ng-template>
