.modal {
  background: linear-gradient(to bottom, #223D6D, #112138);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  & > button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    align-self: stretch;
  }

  & > img {
    max-height: 100vh;
    max-width: calc(100% - 80px);
    object-fit: contain;
  }

}
