<section class="bg-img p-y-m">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <h1 class="c-dt-primary"><span class="title-dt">Resources</span></h1>
    </div>
  </div>
</section>

<section class="p-b-l">
  <div class="grid">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">

      <h6 *ngFor="let resource of resources$ | async">
        <a [routerLink]="[resource.url]" class="p-y-xs">
          {{resource.name}}
        </a>
        <hr>
      </h6>
      <div class="flex w-full p-y-xl jc-center" *ngIf="loading$ | async">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

    </div>
  </div>
</section>
